/* Navigation bar */

body {
  margin: 0;
  background: #f4ede4;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-left: 30px; 
}

header {
  background: #333;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.navlogo {
  width: 10%;
  height: 10%;
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  margin-right: -5px;
  padding-top: 30px;
  position: relative;
}

nav a {
  color: #efefef;
  text-decoration: none;
}

nav a:hover {
  color: #d4d3d3;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #575454;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Services logo header */

body, header {
  margin: 0;
  padding: 0;
}

.logo-container {
  text-align: center; 
}

.header-logo {
  width: 100%;
}

/* Services grid */

.services-grid {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  margin-top: 80px;
  padding-bottom: -30px;
}

.service-container {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px; 
  background-color: #e5dac7;
}

.service-container h2 {
  margin-bottom: 10px;
  color: black; 
}

.service-container p {
  margin-bottom: 0; 
  color: #4e4e4e;
}

.refrigerated {
  width: 465px; 
  height: auto; 
}

.tanker {
  width: 469px; 
  height: auto; 
}

.flatbed {
  width: 600px; 
  height: auto; 
}

.service-container:last-child {
  margin-top: 50px; 
}

/* Footer */

.footer {
  margin-top: 150px;
  width: 70%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div {
  text-align: center;
}

.col-2 {
  flex-grow: 2;
  margin-left: 50px;
}

.footer div h3 {
  font-weight: 300;
  letter-spacing: 1px;

}

.col-1 p{
  display: block;
  color: #efefef;
  margin-bottom: 10px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

.footer {
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 10px; 
  left: 0;
  right: 0;
  text-align: left;
}
